@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

body {
  background-color: rgb(8, 5, 31);
  text-align: center;
  color: rgb(224, 244, 247);
}

#myCanvas {
  background-image: url("https://giffiles.alphacoders.com/144/14468.gif");
  background-size: 600px 400px;
  border-radius: 10px;
  background-position: center;
  border: 4px solid rgb(224, 244, 247);;
}

h1{
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-size: 50px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


